/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #E53C70;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    text-align: center;
}

h1 {
    color: var(--pink);
    line-height: 150px;
    font-size: 38px;
}

p {
    margin-bottom: 20px;
}
/* Utils */

/* Cards */

.contained {
    height: 100px;
    width:  calc(100% /3 - 20px);
    margin: 10px;
    background-color: #000;
    color: #FFF;
    float: left;

}

img{
    height: 100px;
    float: left;
    vertical-align: 100px;
    margin-right: 10px;
}

.text-description{
    vertical-align: 100px;
    padding-top: 15px;
}

a {
    color: #3C9DCF;
}